#
# 02-php.config
#
# Configurazione dell'ambiente PHP, inclusi
# i parametri di configurazione di php.ini.
#
# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/command-options-specific.html#command-options-php
#

#packages:
#    yum:
#        php-mbstring: []


option_settings:
    aws:elasticbeanstalk:container:php:phpini:
        document_root: /public

    aws:elb:policies:AWSEB-ELB-StickinessPolicy:
        Stickyness Policy: true
        Stickiness Cookie Expiration: 86400  # 1 day
        CookieName: PHPSESSID